html, body {
    font-family: 'Montserrat', sans-serif;
}

.main-grid {
    width: 100%;
    padding: 1rem;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

ul {
    font-size: 2rem;
}
